body {
    background-color: beige;
}
header {
    background-color: aquamarine;
    color:black;
    width: 100%;
    height: 50px;
}
footer {
    background-color: cadetblue;
    color: black;
    width: 100%;
    height: 50px;
}
td {
    width: 25%;
    height: 120px;
    text-align: center;
    vertical-align: middle;
}